@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  background-color: #8ea5b5;
}

/* Container principal */
.container {
  display: flex;
  margin: 17px 15px 15px 15px;
  height: 95vh;
  width: 98%;
  background-image: url('/src/img/fundo-login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

/* Painel esquerdo */
.left-panel {
  flex: 1;
  background: transparent;
}

/* Card de login */
.login-card {
  width: 34%;
  min-height: 75vh;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  margin: auto 50px auto auto;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #003b49;
}

/* Inputs */
input {
  border: 1px solid #d4d4d4;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  max-width: 420px;
  font-size: 15px;
  display: block;
  margin: 4px auto;
}

.login-card label {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Botão de login */
.login-btn {
  width: 55%;
  margin: 10px auto;
  padding: 10px 0;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #ff8b61, #ffa27d);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Registar */
.register {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}
.register span {
  font-weight: bold;
  color: #0066cc;
  cursor: pointer;
}

/* Divisor */
.divider {
  text-align: center;
  font-size: 13px;
  color: #888;
  margin-top: 5px;
}

/* Botões login com redes sociais */
.social-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-btn {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #f8f8f8;
  font-size: 20px;
}
